/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.toolImages {
    height: 100px;
    width: 100px;
}

.center {
    margin: auto;
    width: 60%;
}

section {
    color: black;
}

.mouseOver {
    background: border-box;
}

button {
    background: Grey;
    color: white;
    border: 1px solid darkGrey;
    font-size: 15px;
    border-radius: 4px;
    transition: .7s;
    overflow: hidden;
}

    button:focus {
        outline: none;
    }

    button:before {
        content: '';
        display: block;
        position: relative;
        height: 100%;
        left: 0;
        top: 0;
        opacity: .5;
        filter: blur(30px);
        transform: translateX(-130px) skewX(-15deg);
    }

    button:after {
        content: '';
        display: block;
        position: relative;
        background: #4CAF50;
        color: white;
        width: 30px;
        height: 100%;
        left: 30px;
        top: 0;
        opacity: 0;
        filter: blur(30px);
        transform: translateX(-100px) scaleX(-15deg);
    }

    button:hover {
        background: #4CAF50;
        color: white;
        cursor: pointer;
    }

        button:hover:before {
            transform: translateX(300px) skewX(-15deg);
            opacity: .6;
            transition: .7s;
        }

        button:hover:after {
            transform: translateX(300px) skewX(-15deg);
            opacity: .1;
            transition: .7s;
        }




        /*==========*/


.CenterTextContainer {
    position: relative;
}

.centerImageText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}

