/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url("backgroundImage.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: black;
    min-height: 1000px;
    background-size: cover;
}

footer {
    color: white;
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 25px;
}

body.HomePageBackground {
    background-image: url("HomePageBackground.jpg") !important;
    background: no-repeat center center center;
    height: 100%;
    background-size: cover;
}


body.HomePageBackground {
    height: 100%;   
    margin: 0;
    background-image: url("HomePageBackground.jpg") !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section.HomePageBackground {
    background-image: url("HomePageBackground.jpg") !important;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background: fixed;
}

#HomePageTitle {
    color: #cccccc;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px 0;
    align-items: center;
    justify-content: space-around;
    display: flex;
    float: none;
    text-align: center;
    position: sticky;
    background-color: #222222;
    border: solid 1px white;
    border-radius: 5px;
}

.FullWidth {
    height: 100%;
    max-height: 100%;
    min-height: 100%
}
/*=======================================*/
.body-content {
    margin-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
}

.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

#qrCode {
    margin: 15px;
}

@media screen and (max-width: 767px) {
    .carousel-caption {
        display: none;
    }
}

.caption {
    font-size: 3em;
}

.content {
    width: 75%;
    margin: 0 auto;
    color: white;
}

.column_thumbnail {
    min-height: 375px;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #392613;
    border-radius: 5%;
    text-align: center;
    background-color: #604020;
    opacity: 0.8;
    color: white;
}

    .column_thumbnail select {
        color: black;
    }

.search_thumbnail {
    margin: 0px auto;
    padding: 10px 0;
    border: 2px solid #392613;
    border-radius: 5px;
    text-align: center;
    background-color: #604020;
    width: 50%;
    min-width: 300px;
    opacity: 0.8;
}

.search {
    margin: 10px 0;
}

label {
    padding-right: 10px;
}

.search_thumbnail select {
    color: black;
}

.search_thumbnail input {
    color: black;
}

.tool_image {
    height: 100px;
    width: 100px;
    display: inline-block;
    border: 2px solid #392613;
    border-radius: 8%;
    margin-bottom: 20px;
}

button {
    background: Grey;
    color: white;
    border: 1px solid darkGrey;
    font-size: 15px;
    border-radius: 4px;
    transition: .7s;
    overflow: hidden;
    margin-top: 5px;
}

button:focus {
    outline: none;
}

button:before {
    content: '';
    display: block;
    position: relative;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .5;
    filter: blur(30px);
    transform: translateX(-130px) skewX(-15deg);
}

button:after {
    content: '';
    display: block;
    position: relative;
    background: #4CAF50;
    color: white;
    width: 30px;
    height: 100%;
    left: 30px;
    top: 0;
    opacity: 0;
    filter: blur(30px);
    transform: translateX(-100px) scaleX(-15deg);
}

button:hover {
background: #4CAF50;
color: white;
cursor: pointer;
}

button:hover:before {
    transform: translateX(300px) skewX(-15deg);
    opacity: .6;
    transition: .7s;
}

button:hover:after {
    transform: translateX(300px) skewX(-15deg);
    opacity: .1;
    transition: .7s;
}

.new-item-confirm {
    margin: 10px 0;
    border: 2px solid #392613;
    border-radius: 5px;
    text-align: center;
    color: white;
    background-color: #604020;
    opacity: 0.8;
}

/*==========*/


.CenterTextContainer {
    position: relative;
}

.centerImageText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}

.jumbotron {
    background: url(/images/welding.jpg) center center no-repeat;
    height: 300px;
    width: 100%;
}

.navbar {
    height: 54px;
    opacity: .9;
}

/*navbar:hover:before {
    height: 54px;
    opacity: .8;
    transition: .7s;
}

navbar:hover:after {
    height: 54px;
    opacity: .01;
    transition: .7s;
}*/

.navbar-header {
    width: 300px;
}

.logoImage {
    height: 54px;
    margin-top: -15px;
}

.toolGeekTitle {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 35px;
    color: #ff6700;
}

.navbar-collapse {
    margin-top: 10px;
}

section {
    background-color: none;
}

/*====================*/

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #ff6700;
    transition: 0.5s;
}

.dropbtn {
    background-color: none;
    color: white;
    padding: 14px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #111;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    opacity: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 100%;
}

.dropdown-content a:hover {
    transition: 0.5s;
    background-color: #444;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #ff6700;
}

.pushRight {
    float: right;
}



