@model Librarian
@{
    ViewData["Title"] = "Login";
}

<div class="jumbotron" style="background-image: url(/images/AvailableTools.jpg)">Login</div>

<div class="content">
    <form asp-controller="Librarian" asp-action="Login" method="post" class="thumbnail centered_thumbnail">
        <div class="form_line">
            <label asp-for="Username">Username:</label>
            <input asp-for="Username" />
        </div>
        <div class="form_line">
            <label asp-for="Password">Password:</label>
            <input asp-for="Password" />
        </div>
        <div class="form_line">
            <button type="submit">Log In</button>
        </div>
    </form>
</div>
