@model Librarian
@{
    ViewData["Title"] = "Login";
}

<div class="jumbotron caption" style="background-image: url(/images/AvailableTools.jpg); background-color: black; color: white; height: 200px;">Login</div>

<div class="content">

    <div class="column_thumbnail">
        <form asp-controller="Librarian" asp-action="Login" method="post">
            <div>
                <label asp-for="Username">Username:</label>
                <input asp-for="Username" />
            </div>
            <div>
                <label asp-for="Password">Password:</label>
                <input asp-for="Password" />
            </div>
            <button type="submit">Log In</button>
        </form>
    </div>
</div>
