@model NewLibrarianViewModel
@{
    ViewData["Title"] = "RegisterLibrarian";
}

<div class="jumbotron caption" style="background-image: url(/images/AvailableTools.jpg); background-color: black; color: white; height: 200px;">Register A New Librarian</div>

<div class="content">

    <div class="search_thumbnail">
        <form asp-controller="Librarian" asp-action="RegisterLibrarian" novalidation method="post">
            <div>
                <label asp-for="Username">Username:</label>
                <input asp-for="Username" />
                <span asp-validation-for="Username"></span>
            </div>
            <div>
                <label asp-for="Password">Password:</label>
                <input type="password" asp-for="Password" />
                <span asp-validation-for="Password"></span>
            </div>
            <div>
                <label asp-for="ConfirmPassword">Confirm Password:</label>
                <input type="password" asp-for="ConfirmPassword" />
                <span asp-validation-for="ConfirmPassword"></span>
            </div>
            <button type="submit">Register</button>
        </form>
    </div>
</div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
