@model NewLibrarianViewModel
@{
    ViewData["Title"] = "RegisterLibrarian";
}

<div class="jumbotron" style="background-image: url(/images/AvailableTools.jpg)">Register A New Librarian</div>

<div class="content">
    <form asp-controller="Librarian" asp-action="RegisterLibrarian" novalidate method="post" class="thumbnail centered_thumbnail">
        <div class="form_line">
            <label asp-for="Username">Username:</label>
            <input asp-for="Username" />
            <span asp-validation-for="Username"></span>
        </div>
        <div class="form_line">
            <label asp-for="Password">Password:</label>
            <input type="password" asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>
        <div class="form_line">
            <label asp-for="ConfirmPassword">Confirm Password:</label>
            <input type="password" asp-for="ConfirmPassword" />
            <span asp-validation-for="ConfirmPassword"></span>
        </div>
        <div class="form_line">
            <button type="submit">Register</button>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
