@model List<Tool>
@{
    ViewData["Title"] = "CheckedOutTools";
}

<h2>Checked Out Tools</h2>

<section>
    @foreach (Tool tool in Model)
    {
        <a asp-controller="Tool" asp-action="ToolDetail" asp-route-id="@tool.Id">
            <img src="~/images/@(tool.ImageName).jpg" alt="Tool Photo" />
        </a>
        <p>Brand: @tool.Brand</p>
        <p>Tool: @tool.ToolName</p>
    }
</section>