@model List<Tool>

@{
    ViewData["Title"] = "CheckedOutTools";
}

<h2>Checked Out Tools</h2>

<section>
    @foreach (Tool tool in Model)
    {
        <div class="col-xs-4">
            <div class="productBorder">
                <a asp-controller="Tool" asp-action="ToolDetail" asp-route-id="@tool.Id">
                    <img class="toolImages" src="~/images/@(tool.ImageName).jpg" alt="Tool Photo" />
                </a>
                <p>Brand: @tool.Brand</p>
                <p>Tool: @tool.ToolName</p>
            </div>
        </div>
    }
</section>