@model List<Tool>
@{
    ViewData["Title"] = "ToolList";
}

<div class="jumbotron" style="background-image: url(/images/welding.jpg); background-color: black; color: white; height: 200px;"></div>

<div class="caption">
    Available Tools
</div>

<div class="content">
    @foreach (Tool tool in Model)
    {
        <div class="col-sm-4">
            <div class="tool_thumbnail">
                <img class="tool_image" src="~/images/@(tool.ImageName).jpg" alt="Tool Photo" />
                <p><strong>Brand:</strong> @tool.Brand</p>
                <p><strong>Tool:</strong> @tool.ToolName</p>
                <a asp-controller="Tool" asp-action="ToolDetail" asp-route-id="@tool.Id">
                    <button>
                        Details
                    </button>
                </a>
            </div>
        </div>
    }
</div>
