@model AvailableToolsViewModel
@{
    bool? isLoggedIn = ViewBag.IsLoggedIn as bool?;
    if (isLoggedIn == null)
    {
        isLoggedIn = false;
    }
}
@{
    ViewData["Title"] = "ToolList";
}

<div class="jumbotron caption" style="background-image: url(/images/AvailableTools.jpg); background-color: black; color: white; height: 200px;">Available Tools</div>

<div class="content">
    @if (!string.IsNullOrEmpty(Model.SuccessMessage))
    {
        <div class="new-item-confirm alert alert-success">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>@Model.SuccessMessage</strong>
        </div>
    }

    @foreach (Tool tool in Model.Tools)
    {
        <div class="col-sm-4">
            <div class="column_thumbnail">
                <img class="tool_image" src="~/images/@(tool.ImageName).jpg" alt="Tool Photo" />
                <p><strong>Brand:</strong> @tool.Brand</p>
                <p><strong>Tool:</strong> @tool.ToolName</p>
                <p>@tool.Description</p>
            </div>
        </div>
    }
</div>
