@model List<Tool>
@{
    ViewData["Title"] = "ToolList";
}

<div class="jumbotron caption" style="background-image: url(/images/AvailableTools.jpg); background-color: black; color: white; height: 200px;">Available Tools</div>

<div class="content">
    <form asp-controller="Tool" asp-action="ToolFilterResult" method="get" class="search_thumbnail">
        <div>
            <a style="color: white;">Filter By:</a>
            @*<select asp-items="Tool.ToolFilter"></select>*@
            <button type="submit">Submit</button>
        </div>
    </form>

    @foreach (Tool tool in Model)
    {
        <div class="col-sm-4">
            <div class="column_thumbnail">
                <img class="tool_image" src="~/images/@(tool.ImageName).jpg" alt="Tool Photo" />
                <p><strong>Brand:</strong> @tool.Brand</p>
                <p><strong>Tool:</strong> @tool.ToolName</p>
                <form asp-controller="Tool" asp-action="ToolDetail" asp-route-id="@tool.Id">
                    <button>
                        Details
                    </button>
                </form>
            </div>
        </div>
    }
</div>
