@model List<Tool> 

@{
    ViewData["Title"] = "ToolList";
}

<h2>Available Tools</h2>

<section>
    @foreach (Tool tool in Model)
    {
        <a asp-controller="Tool" asp-action="ToolDetail" asp-route-id="@tool.Id">
        <img src="~/images/@(tool.ImageName).jpg" alt="Tool Photo"/>
        </a>
        <p>Brand: @tool.Brand</p>
        <p>Tool: @tool.ToolName</p>
    }
</section>
