@model List<Tool>
@{
    ViewData["Title"] = "ToolList";
}

<div class="CenterTextContainer">
    <section style="background-image: url(&quot;http://wpweb02.webpresented.com/Portals/0/Images/stock/whousesus copy.jpg?ver=2017-07-12-104945-280&quot;);
            background-position: 0% -200px;"
            class="centerImageText">
        <div class="centerImageText">
            <h1>Tool Library</h1>
            <h2>Avaliable Tools</h2>
        </div>
    </section>
</div>
<p>
     
</p>
<section>

    @foreach (Tool tool in Model)
    {
        <div class="mouseOver">
            <div class="center">
                <div class="col-sm-4">
                    <div class="productBorder">
                        <img class="toolImages" src="~/images/@(tool.ImageName).jpg" alt="Tool Photo" />
                        <p>Brand: @tool.Brand</p>
                        <p>Tool: @tool.ToolName</p>
                        <a asp-controller="Tool" asp-action="ToolDetail" asp-route-id="@tool.Id">
                            <button>
                                Details
                            </button>
                        </a>
                        <p> </p>
                        <p> </p>
                    </div>
                </div>
            </div>
        </div>
    }
</section>

