@model ToolLoanRecordSearchModel

@{
    ViewData["Title"] = "ToolLoanRecordSearch";
}

<h2>Tool Loan Records</h2>

<form asp-controller="Tool" asp-action="ToolLoanRecordSearch" method="post">
    <label asp-for="SearchType">Search</label>
    <select asp-for="SearchType" asp-items="ToolLoanRecordSearchModel.SearchOptions"></select>

    <label asp-for="SearchString">For: </label>
    <input asp-for="SearchString" />
    <button type="submit">Submit</button>
</form>