@model ToolLoanRecordSearchModel

@{
    ViewData["Title"] = "ToolLoanRecordSearch";
}

<div class="caption">
    Tool Loan Records
</div>

<div class="content">
    <form asp-controller="Tool" asp-action="ToolLoanRecordSearch" method="post" class="search_thumbnail">
        <div>
            <div class="search">
                <label asp-for="SearchType">Search</label>
                <select asp-for="SearchType" asp-items="ToolLoanRecordSearchModel.SearchOptions"></select>
            </div>
            <div class="search">
                <label asp-for="SearchString">For</label>
                <input asp-for="SearchString"/>
            </div>
            <div class="search">
                <button type="submit">Submit</button>
            </div>
        </div>
    </form>
</div>


