@model Tool
@{
    ViewData["Title"] = "ToolDetail";
}

<h2>Tool Detail</h2>

<section>
    <img src="~/images/@(Model.ImageName).jpg" alt="Tool Photo" />
    <p>Brand: @Model.Brand</p>
    <p>Tool: @Model.ToolName</p>
    <p>Checked out by: @Model.CurrentBorrower</p>
    <p>Will be available: @Model.DueDate.ToString("MM/dd/yyyy")</p> 
</section>
