@model ToolLoanRecordSearchModel

@{
    ViewData["Title"] = "ToolLoanRecordSearch";
}

<div class="jumbotron caption" style="background-image: url(/images/LoanRecords.jpg); background-color: black; color: white; height: 200px;">Loan Records</div>

<form asp-controller="Tool" asp-action="ToolLoanRecordSearch" method="post">
    <p>
        <label asp-for="SearchType">Search</label>
        <select asp-for="SearchType" asp-items="ToolLoanRecordSearchModel.SearchOptions"></select>
    </p>
    <p>
        <label asp-for="SearchString">For</label>
        <input asp-for="SearchString" />
    </p>
    <p>
        <button type="submit">Submit</button>
    </p>
</form>