@{
    ViewData["Title"] = "Home Page";
}

<body class="HomePageBackground">
    <span class="FullWidth">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <section class="HomePageBackground">
            <div id="HomePageTitle" class="HomePage">
                <div class="col-md-12">
                    <h2>Tool Lending Library</h2>
                    <p>Borrow any tool, any time, at no additional cost.</p>
                </div>
            </div>
        </section>
        <br />
        <br />
    </span>
</body>

