@{
    ViewData["Title"] = "Home Page";
}

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h2>This is the tool lending library. Borrow anytool for up to a week!</h2>
            </div>
        </div>
    </div>
